*{
    padding: 0;
    margin: 0;

}


.cabesera{
    width: 100%;
    height: 80px;
    /* background-color: orange; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
}

.menu{
    width: 75%;
    height: 80px;
    /* background-color: cadetblue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-img{
    width: 20%;
    height: 80px;
    /* background-color: red; */
    background-image: url(https://livedemo00.template-help.com/wt_62267_v8/62267-default/images/logo-default-347x65.png);
    background-repeat: no-repeat;
    background-size: 160px;
    background-position: center;
    
}

.menu-enlaces{
    width: 65%;
    height: 80px;
    /* background-color: palegreen; */
    
}
ul{
    width: 100%;
    height: 80px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

li   a{
    text-decoration: none;
    color: black;
    font-size: 12px;
    font-family: 'Source Sans Pro', sans-serif;

}

li a:hover{
    color: #2ed3ae;
    transition: 0.5s;
}

.btn-menu{
    width: 155px;
    height: 40px;
    /* background-color: rgb(45, 223, 45); */
 
}

.btn-enlaces:hover{
    background-color: #2ed3ae;
    color: white;
    border-color: #2ed3ae;
    transition: 0.5s;
}

.btn-enlaces{
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-decoration: none;
    color: black;
    font-size: 12px;
    font-family: 'Source Sans Pro', sans-serif;
    border: 1px solid rgb(194, 187, 187);
}



.cuerpo{
    width: 100%;
    height: 400px;
    background-color: crimson;
    background-image: url(images/slider-slide-1-1920x980.jpg);
}